<div class="p-4">
	<form action="pedido-cadastro" method="post" accept-charset="utf-8">
		<div class="form-group">
			<label for="data">Cliente</label>
			<input class="form-control" type="text" name="name" id="name" value="" placeholder="Nome Completo ...">
		</div>
		<div class="form-group">
			<label for="cpf">CPF</label>
			<input class="form-control" type="text" name="cpf" id="cpf" value="" placeholder="CPF ...">
		</div>
		<div class="form-group">
			<input class="btn btn-primary mt-3 me-3" type="submit" value="Adicionar" />
			<input class="btn btn-secondary mt-3" type="reset" value="Cancelar" />
		</div>
	</form>
</div>
